body {
    font-family: 'Lato', sans-serif; /* 고정폭 폰트 선택 */
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* 약간의 회색 배경 추가 */
}
header {
    background-color: #2abc;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#about-me {
    margin-bottom: 20px;
    text-align: center;
}

.profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 20px);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    box-sizing: border-box;
    margin: 0 auto; /* 가운데 정렬을 위해 추가된 부분 */
}

.profile-pic {
    margin-right: 10px; /* 변경된 부분: 마진을 조정하여 오른쪽으로 약간 이동 */
}

.profile-pic img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.info {
    text-align: left;
    max-width: 50%; /* 변경된 부분: 박스의 최대 너비를 조절 */
}

.info p {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #0066ff;
}


#education {
    margin-bottom: 20px;
    text-align: center; /* 변경된 부분: 섹션 가운데 정렬 */
}

.education-info {
    display: inline-block;
    width: calc(50% - 20px); /* 변경된 부분: 박스의 너비를 반씩으로 설정하고, 간격을 고려하여 뺀 값으로 설정 */
    padding: 20px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    box-sizing: border-box; /* 변경된 부분: padding과 border를 포함하여 너비 계산 */
}


.education-details {
    margin-left: 20px;
}

.education-info h3 {
    margin-top: 0;
    font-size: 22px;
}

.education-info p {
    margin: 5px 0;
    font-size: 18px;
}

.education-info ul {
    margin-top: 10px;
    padding-left: 0; /* 변경된 부분: 목록의 왼쪽 여백 제거 */
    display: inline-block; /* 변경된 부분: 목록을 가로로 정렬하기 위해 inline-block 사용 */
}

.education-info ul li {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block; /* 변경된 부분: 목록 항목을 가로로 정렬하기 위해 inline-block 사용 */
    margin-right: 10px; /* 변경된 부분: 목록 항목 간의 간격 조정 */
}


#about-me h2 {
    margin-top: -30px;
}

#education h2 {
    margin-top: -30px;
}

#projects h2 {
    margin-top: -30px;
}

#Contact h2 {
    margin-top: -30px;
}

.portfolio-title {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #2ecc71;
}

section {
    background-color: white;
    padding: 50px 20px;
    margin: 20px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #34495e;
    text-align: center;
}

p {
    line-height: 1.6;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Your existing CSS styles */

.project-card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s;
    width: calc(50% - 20px); /* 2개씩 나열하고 간격을 두어 가로 정렬 */
    max-width: 400px; /* 최대 너비 */
    box-sizing: border-box;
    text-align: center; /* 가운데 정렬 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap; /* 줄 바꿈 설정 */
    justify-content: space-around; /* 카드 주위에 균일한 간격을 만듭니다 */
}

.project-card:last-child {
    margin-right: 0;
}


.styled-link {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
    margin-right: 20px;
}

.image-links {
    display: flex;
}

.image-links a {
    margin-right: 20px;
}


.styled-link:hover {
    color: #0056b3;
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}

.icon {
    width: 24px; /* 원하는 크기로 조절하세요 */
    height: 24px; /* 원하는 크기로 조절하세요 */
    fill: currentColor; /* 아이콘 색상을 부모 요소의 색상으로 설정 */
}

/* Dark mode styles */
.dark-mode {
    background-color: #212121; /* 어두운 배경 색상 */
    color: #fff; /* 밝은 텍스트 색상 */
}

.dark-mode header {
    background-color: #333; /* 어두운 헤더 배경 색상 */
}

.dark-mode nav ul li a {
    color: #fff; /* 밝은 텍스트 색상 */
}

.dark-mode section {
    background-color: #424242; /* 어두운 섹션 배경 색상 */
}

.dark-mode .modal-content {
    background-color: #757575; /* 어두운 모달 내용 배경 색상 */
}

.dark-mode .close {
    color: #ddd; /* 어두운 닫기 아이콘 색상 */
}

.dark-mode .styled-link {
    color: #64b5f6; /* 어두운 링크 색상 */
}

.dark-mode .styled-link:hover {
    color: #42a5f5; /* 어두운 링크 호버 색상 */
}

.dark-mode h2 {
    color: white;
}

#skills {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 가운데 정렬 */
    text-align: center; /* 텍스트도 가운데 정렬 */
    position: relative; /* 상대 위치 설정 */
    padding-left: 150px;
}

#skills h2 {
    position: absolute; /* 절대 위치 설정 */
    top: -10px; /* 위쪽으로 이동 */
    left: 50%; /* 가운데 정렬을 위한 위치 */
    transform: translateX(-50%); /* 가운데 정렬을 위한 위치 */
}

.skill-category {
    margin-bottom: 10px;
    text-align: left;
    width: calc(50% - 80px); /* 처음 두 개의 카테고리는 가로로 나열 */
    margin-right: -110px; /* 각 카테고리 사이의 간격 설정 */
}

.skill-category:nth-child(n+3) {
    margin-top: 0; /* 위쪽 여백 추가 */
}

.skill-category h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-container {
    margin-right: 15px;
}

.skill-bar {
    height: 10px;
    background-color:  gray;
    margin-right: 10px;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

@media screen and (max-width: 768px) {
    #skills {
        flex-direction: column; /* 최소화된 화면에서 섹션을 세로로 정렬합니다. */
    }

    .skill-bar {
        width: 100%; /* 최소화된 화면에서 스킬 바의 너비를 100%로 설정하여 가로 스크롤이 발생하지 않도록 합니다. */
    }

    #skills h2 {
        margin-top: 20px; /* 최소화된 화면에서 h2 요소와 스킬 바 사이에 간격을 추가합니다. */
    }
}

#Contact {
    text-align: center;
}


.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.contact-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.contact-item p {
    margin: 0;
}

.email-button-container {
    text-align: center;
    margin-left: 20px; /* 버튼과 아이콘들 사이에 간격 추가 */
}

.email-button {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-size: 14px;
    padding: 3px 8px;
}




.modal-email {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-email-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-email {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-email:hover,
.close-email:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


